[Unit]
Description=T95H late regulator and Panfrost initialization
After=systemd-udev-trigger.service
Before=kodi.service

[Service]
Type=oneshot
ExecStart=/usr/lib/t95h/start-hardware
ExecStartPost=/usr/bin/systemctl --no-block start cpufreq.service
TimeoutStartSec=240
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
